<header class="bg-gray-950 w-full h-20 flex items-center">
  <div class="w-full px-6 flex items-center justify-between">
    <img class="w-24 h-auto" src="assets/logo.png" alt="Logo Marvel">

    <ul class="flex items-center gap-4">
      <li class="text-lg text-zinc-300 transition ease-in-out delay-150 hover:text-zinc-600">Personagens</li>
      <li class="text-lg text-zinc-300 transition ease-in-out delay-150 hover:text-zinc-600">Quadrinhos</li>
      <li class="text-lg text-zinc-300 transition ease-in-out delay-150 hover:text-zinc-600">Eventos</li>
      <li class="text-lg text-zinc-300 transition ease-in-out delay-150 hover:text-zinc-600">Série</li>
      <li class="text-lg text-zinc-300 transition ease-in-out delay-150 hover:text-zinc-600">Historias</li>
    </ul>
  </div>
</header>
